html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
  font-family: 'Zilla Slab', serif;
}

#flex-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

nav a {
  font-size: 1.5em;
  padding: 0.25em 0.5em;
  margin: 0 1em;
  border-radius: 0.1em;
  background: #FFF5;
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  background: #FFFA;
}

#title {
  font-size: 4em;
  width: fit-content;
  padding: 0.25em 0.35em;
  margin: 0 auto 1em auto;
  border-radius: 0.1em;
  background: #FFF5;
}

footer {
  height: 80px;
}
